.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  gap: 5px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fake {
  width: 120px;
}

.menu-list {
  display: flex;
  list-style-type: none;
}
.menu-list li {
  padding: 10px;
}

.search-container {
  border-bottom: 1px solid black;
  height: 27px;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.search-input {
  width: 120px;
  height: 25px;
  border: none;
  outline: none;
  margin-left: 5px;
}
